body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

*,
*:after,
*:before
{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo  {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    padding-left: 30px;
}

/* Social */
.social {
    position: absolute;
    padding-top: 1px;
    margin-left: 950px;

}

.social a {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;

    font-size: 25px;
    color: #333;
}

/*Button*/

.bttn {
    display: inline-block;
    vertical-align: top;
    padding: 2px 20px;

    border: 2px solid #333;

    font-size: 12px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;

    margin: 0 260px;
    position: relative;

    transition: background .1s linear, color .1s linear;
}

.bttn:hover {
    background-color: #333;
    color: #d3a27f;
}

/* Main */
.row {
    margin-bottom: 15px;
    padding: 15px;
    height: 306px;
}


.fact1 {
    width: 280px;
    display: inline-block;
    position: relative;
    padding: 100px 0px 26px 26px;
}

.img__fact1-1 {
    position: relative;
    width: 228px;
}

.text__fact1-1 {

    display: flex;
    justify-content: center;
    position: relative;
    width: 228px;
    text-align: center;
    text-transform: uppercase;
}
